.vscode/**
.vscode-test/**
.claude/**
.idea/**
out/**
node_modules/**
src/**
webview/**
docs/**
.gitignore
.npmrc
.yarnrc
esbuild.js
vsc-extension-quickstart.md
biome.json
pnpm-lock.yaml
pnpm-workspace.yaml
CLAUDE.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
images/assets/**
images/*.gif
